html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------BODY--------------*/
body {
  font-family: OpenSans;
}

.container {
  width: 74.375rem;
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section_heading {
  font-family: DrukTextCyr;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 9.375rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    padding: 0 2rem;
  }
}

@font-face {
  font-family: DrukTextCyr;
  src: url(../fonts/Druk-Text-Cyr-Medium.ttf) format("truetype"), url(../fonts/Druk-Text-Cyr-Medium.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype"), url(../fonts/Roboto-Regular.woff) format("woff");
}

@font-face {
  font-family: Roboto_Thin;
  src: url(../fonts/Roboto-Thin.ttf) format("truetype"), url(../fonts/Roboto-Thin.woff) format("woff");
}

@font-face {
  font-family: Helvetica;
  src: url(../fonts/helvetica_regular.ttf) format("truetype"), url(../fonts/helvetica_regular.woff) format("woff");
}

.page-header {
  min-height: 6vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 100;
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 3vw;
}

.page-footer {
  min-height: 4vw;
  width: 100%;
  background: #13131E;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: relative;
  margin: 0 auto;
  float: right;
}

.main-nav__item {
  margin: 1.5rem 3.125rem 1.5rem 0;
  display: table-cell;
}

.main-nav__link {
  font-family: DrukTextCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.81rem;
  text-transform: uppercase;
  text-decoration: none;
  position: static;
  color: #FFFFFF;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#C1611B), color-stop(50%, #C1611B), color-stop(50%, #FFFFFF));
  background: linear-gradient(to right, #C1611B, #C1611B 50%, #FFFFFF 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-transition: background-position 275ms ease;
  transition: background-position 275ms ease;
}

.main-nav__link:hover {
  background-position: 0 100%;
}

.active .main-nav__link {
  background-position: 0 100%;
}

.button-nav {
  display: none;
}

@media (max-width: 1024px) {
  .button-nav {
    display: block;
    border: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 111;
    position: relative;
    background: transparent;
    height: 3rem;
    margin: auto 0 auto auto;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .button-nav span {
    position: relative;
    height: 2px;
    background: currentColor;
    width: 2.5rem;
    display: block;
  }
  .button-nav span:after {
    content: "";
    position: absolute;
    height: 2px;
    background: currentColor;
    width: 100%;
    left: 0;
    bottom: -0.65rem;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }
  .button-nav span:before {
    content: "";
    position: absolute;
    height: 2px;
    background: currentColor;
    width: 100%;
    left: 0;
    top: -0.65rem;
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
  }
  .button-nav:hover {
    color: #c1611b;
    cursor: pointer;
  }
  .button-nav.active span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .button-nav.active span:after {
    opacity: 0;
  }
  .button-nav.active span:before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
  .main-nav {
    display: none;
  }
  .page-header {
    min-height: initial;
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1rem 0;
  }
  .main-nav.active {
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99;
    overflow-y: auto;
  }
  .main-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem;
    float: none;
  }
  .main-nav__item {
    display: block;
    margin-bottom: 1rem;
  }
  .main-nav__link {
    font-size: 2.5rem;
  }
}

.banner {
  overflow: hidden;
  background: #13131E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.banner-left {
  margin-top: 10.37rem;
}

.banner-left__heading {
  font-family: DrukTextCyr;
  font-size: 7.5rem;
  font-style: italic;
  font-weight: 900;
  line-height: 6.875rem;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.banner-left__text {
  font-family: Roboto;
  margin-top: 4rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.banner-left__subtitle {
  font-family: Roboto_Thin;
  font-size: 2.875rem;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 200;
  line-height: 3.37rem;
  letter-spacing: 0em;
}

.banner-left__links {
  margin-top: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banner-left__link {
  text-decoration: none;
  height: 4.81rem;
  margin-right: 1.875rem;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  margin-bottom: 2rem;
}

.banner-left__link__title {
  font-family: Roboto;
  color: black;
  font-size: 0.75rem;
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  line-height: 0.875rem;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.banner-left__link__subtitle {
  font-family: Roboto;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: left;
}

.banner-left__link:hover {
  background: #C1611B;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner-left__link:hover .banner-left__link__title,
.banner-left__link:hover .banner-left__link__subtitle {
  color: #ffff;
}

.social {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 1.25rem;
}

.social__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-right {
  margin-top: 15.625rem;
  height: 33.125rem;
  width: 29.625rem;
}

.banner-photo_image {
  height: 22.56rem;
  width: 22.75rem;
  border-radius: 0px;
  position: absolute;
}

.banner-right__block1 {
  margin-top: 11.25rem;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.banner-photo {
  -webkit-transform: translateX(12%);
          transform: translateX(12%);
}

.banner-right__text {
  font-family: Helvetica;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;
  padding: 13.25rem 3.44rem 5.625rem 3.44rem;
}

.banner-right__block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-right__text2 {
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.187rem;
  letter-spacing: 0em;
  color: #666666;
  padding: 0 3.44rem 1.875rem 3.44rem;
}

.profile {
  background-color: #E5E5E5;
}

.profile_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile_text {
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  letter-spacing: 0em;
  color: #666666;
  margin-right: 5.8rem;
}

.skills {
  background-color: #E5E5E5;
}

.skills_technical,
.skills_language {
  width: 100%;
}

.skills_technical_heading,
.skills_language_heading {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.93;
  letter-spacing: 0em;
}

.skills_technical_list,
.skills_language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills_block {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1rem;
  margin: 0 2.187rem 3.125rem 0;
}

.skills_block_text1 {
  font-family: Roboto;
  font-size: 0.75rem;
  line-height: 0.85rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0em;
}

.skills_block_text2 {
  font-family: DrukTextCyr;
  font-size: 1.5rem;
  line-height: 1.93rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.skills_block:hover {
  background: black;
  cursor: pointer;
}

.skills_block:hover .skills_block_text1,
.skills_block:hover .skills_block_text2 {
  color: #FFFFFF;
}

.experience {
  background-color: #E5E5E5;
}

.position {
  position: relative;
  width: 100%;
}

.position .line {
  position: absolute;
  left: 0;
  top: 7px;
  height: 100%;
  width: 2px;
  background: currentColor;
}

.position_info:last-child {
  margin-bottom: 0;
}

.position_heading {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
}

.position_info {
  margin-bottom: 6.25rem;
  position: relative;
  padding-left: 2.375rem;
}

.position_info:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid currentColor;
  display: block;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  left: 1px;
  top: 0.625rem;
  position: absolute;
  background: #e5e5e5;
}

.position_subtitle {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.position_company {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.company_adress {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.responsibilities {
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
  position: relative;
  padding-bottom: 0.3125rem;
}

.responsibilities:before {
  content: "\2014";
  padding-right: 1rem;
}

.position_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.position_responsibilities {
  margin-top: 3.3125rem;
}

.courses {
  background-color: #E5E5E5;
}

.course {
  width: 100%;
  position: relative;
}

.course .line {
  position: absolute;
  left: 0;
  top: 7px;
  height: 100%;
  width: 2px;
  background: currentColor;
}

.course_info {
  margin-bottom: 6.25rem;
  position: relative;
  padding-left: 2.375rem;
}

.course_info:last-child {
  margin-bottom: 0;
}

.course_info:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid currentColor;
  display: block;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  left: 1px;
  top: 0.625rem;
  position: absolute;
  background: #e5e5e5;
}

.course_heading {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
}

.course_subtitle {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.course_company {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.course_adress {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.skill {
  font-family: Roboto;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
  position: relative;
  padding-bottom: 0.3125rem;
}

.skill:before {
  content: "\2014";
  padding-right: 1rem;
}

.course_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course_skills {
  margin-top: 3.3125rem;
}

.education {
  background-color: #E5E5E5;
}

.education_block {
  width: 100%;
  margin-bottom: 11rem;
  position: relative;
}

.education_block .line {
  position: absolute;
  left: 0;
  top: 7px;
  height: 100%;
  width: 2px;
  background: currentColor;
}

.education_heading {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
  padding-left: 2rem;
}

.education_subtitle {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
  padding-left: 2rem;
}

.education_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.education_info:last-child {
  margin-bottom: 0;
}

.education_info:after {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid currentColor;
  display: block;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  left: 1px;
  top: 0.625rem;
  position: absolute;
  background: #e5e5e5;
}

.education_adress {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.education_university {
  font-family: DrukTextCyr;
  font-size: 2.25rem;
  line-height: 2.93rem;
  font-style: normal;
  font-weight: 400;
  color: #666666;
}

.education_info_block {
  margin-bottom: 2rem;
}

.vector {
  float: right;
  margin: 1.5rem;
}

.vector_img:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #bdb8b8;
}

.showScrollBtn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.page-footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer_item {
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.68rem;
  color: #FFFFFF;
  margin: 1.56rem 1.56rem;
}
/*# sourceMappingURL=style.css.map */