@font-face {
    font-family: DrukTextCyr;
    src: url(../fonts/Druk-Text-Cyr-Medium.ttf) format('truetype'), url(../fonts/Druk-Text-Cyr-Medium.woff) format('woff');
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf) format('truetype'), url(../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: Roboto_Thin;
    src: url(../fonts/Roboto-Thin.ttf) format('truetype'), url(../fonts/Roboto-Thin.woff) format('woff');
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/helvetica_regular.ttf) format('truetype'), url(../fonts/helvetica_regular.woff) format('woff');
}