.page-footer_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-footer_item {
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.68rem;
    color: #FFFFFF;
    margin: 1.56rem 1.56rem;
}